/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding:0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1 {  
  font-size: 4.625rem; /* 90px/16px  */
  color: rgba(255, 255, 255,);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3;
}

h2 {
  font-size: 3.3125em; /* 53px/16px  */
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 .5em; /* 0 0 26px */
}

h3 {
  font-size: 1.25em; /* 20px/16px  */
  color: #48525c;
  line-height: 1.2;
  margin-bottom: 1.7em; /* 34px */
}

ul{
  list-style-type: none;
   padding:0;
   margin:0;
   display: block;
   margin-block-start:1em;
   margin-bloc-end:1em;
   margin-inline-start:0px;
   margin-inline-end:0px;
   padding-inline-start:40px;
}    

 nav li a { 
  float:right;
  padding:10px 8px;
  width: 120px;
  margin:20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  font-size: 24px;
  top:0%;
  left: 50%;
  transform: translate(-50%, -50%) 
}

/* Pseudo-classes ------------------ */

a:link {
   color:white;
   text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: #bab3d6;
}

a:active {
  color: steel;
}

/* Main Styles --------------------- */
.aboutme{
  text-align: center;
  font-size: 1.25em; /* 20px/16px */
  line-height: 1.6;  
  width:60%;
  margin:auto;
 }
 
/*.aboutme p{
  display: inline-block;
}*/
.main-nav{
  padding-top: 23px;
}

.main-nav img{
  max-width: 25%;
  min-width: 250px;
  display: inline;
  margin:0;
  position:absolute;
  top:25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 

}

.main-header {
  padding-top: 70px;
  height: 500px;
  background: #291E56;
}
.video1{
  float:left;
  margin-left: 40px;
}

.video2{
  float:right;
  margin-right: 40px;

}
.video1,
.video2 {
 max-width:46.5%;
 margin-top: 20px;
 }

/* Float Clearfix ------------------ */

.group:after {
    content: "";
    clear: both;
    display: table;
}
.video{
  width: 60%;
}
iframe{

}
footer{

  height: 100px;
  background: #291E56;
  position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}

footer p{
  padding-top:30px;
  text-align: center;
  font-size: 1em;
  color:white;
}

